= image_tag @peg.image.url(:medium)
%h1= @peg.title
%p= @peg.description
%p
Submitted by
= @peg.user.email

%br/

= link_to "Back", root_path
= link_to "Edit", edit_peg_path
=link_to "Delete", peg_path, method: :delete, data: { confirm: "Are you sure?" }