#peg_show.row
    .col-md-8.col-md-offset-2
        .panel.panel-default
            .panel-heading.peg_image
                = image_tag @peg.image.url
            .panel-body
                %h1= @peg.title
                %p.description= @peg.description
                %p
                Submitted by
                = @peg.user.email
            .panel-footer
                .row
                    .col-md-6
                        %p.user
                        Submitted by
                        = @peg.user.email
                    .col-md-6
                        .btn-group.pull-right
                            = link_to yeah_peg_path(@peg), method: :put, class: "btn btn-default" do
                                %span.glyphicon.glyphicon-sunglasses
                                = @peg.get_upvotes.size
                            - if user_signed_in?
                                = link_to "Edit", edit_peg_path, class: "btn btn-default"
                                =link_to "Delete", peg_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"